## executables
JAVA="/usr/local/biotools/java/jdk1.8.0_20/bin/java"
JAVA7="/usr/local/biotools/java/jdk1.7.0_67/bin/java"
BCFTOOLS="/data2/external_data/Abyzov_Alexej_m124423/apps/bcftools/current/bin/bcftools"
SAMTOOLS="/data2/external_data/Abyzov_Alexej_m124423/apps/samtools/current/bin/samtools"
SCALPEL="/data2/external_data/Abyzov_Alexej_m124423/apps/scalpel/current/bin/scalpel"
SOMATICSNIPER="/data2/external_data/Abyzov_Alexej_m124423/apps/somaticsniper/current/bin/bam-somaticsniper"
STRELKA="/data2/external_data/Abyzov_Alexej_m124423/apps/strelka/current/bin/configureStrelkaWorkflow.pl"
Q="/data2/external_data_data/Abyzov_Alexej_m124423/apps/q/bin/q"

## JAR files
MUTECT_JAR="/data2/external_data/Abyzov_Alexej_m124423/apps/mutect/current/muTect-1.1.5.jar"
PICARD_JAR="/data2/external_data/Abyzov_Alexej_m124423/apps/picard/current/picard.jar"
VARSCAN_JAR="/data2/external_data/Abyzov_Alexej_m124423/apps/varscan/current/VarScan.v2.3.7.jar"

## misc
GATK_KEY="/data2/external_data/Abyzov_Alexej_m124423/apps/gatk/gatk.key"
STRELKA_CONFIG="/data2/external_data/Abyzov_Alexej_m124423/apps/strelka/current/etc/strelka_config_bwa_default.ini"
